// _show.scss
.car-details {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.car-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.btn-link {
  color: #007bff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
