<div class="roadbnb-background">
  <div class="container">
    <div class="text-center">
      <h1 class="mt-4 pt-4 text-white fw-bold custom-heading">Welcome to RoadBnb</h1>
      <p class="lead text-white">Discover the joy of road trips with our wide selection of cars!</p>
      <p class="text-white">At RoadBnb, we offer a diverse fleet of well-maintained vehicles to suit your travel needs. Whether you're planning a weekend getaway or a long-distance adventure, we've got you covered.</p>
      <%= link_to 'Browse Cars', cars_path, class: 'btn btn-primary btn-lg mt-4' %>
    </div>
  </div>
</div>
